In [1]:
#!/usr/bin/env python3

from pyspark.sql import SparkSession
from pyspark.sql.functions import when, row_number, monotonically_increasing_id, col
from pyspark.sql.window import Window
import psycopg2

In [2]:
# Set up a Spark session

spark = SparkSession.builder \
    .appName("Yellow Taxi Trip Data Transformation") \
    .config("spark.jars", "postgresql-42.7.3.jar") \
    .config("spark.executor.memory", "4g") \
    .getOrCreate()

In [ ]:
file_path = "yellow_tripdata_2009-01DATASET (1).parquet"
df = spark.read.option("mode", "DROPMALFORMED").parquet(file_path)

In [4]:
df.show(5)

+-----------+--------------------+---------------------+---------------+-------------+----------+---------+---------+-----------------+------------------+---------+------------+--------+---------+-------+-------+---------+---------+
|vendor_name|Trip_Pickup_DateTime|Trip_Dropoff_DateTime|Passenger_Count|Trip_Distance| Start_Lon|Start_Lat|Rate_Code|store_and_forward|           End_Lon|  End_Lat|Payment_Type|Fare_Amt|surcharge|mta_tax|Tip_Amt|Tolls_Amt|Total_Amt|
+-----------+--------------------+---------------------+---------------+-------------+----------+---------+---------+-----------------+------------------+---------+------------+--------+---------+-------+-------+---------+---------+
|        VTS| 2009-01-04 02:52:00|  2009-01-04 03:02:00|              1|         2.63|-73.991957|40.721567|     NULL|             NULL|        -73.993803|40.695922|        CASH|     8.9|      0.5|   NULL|    0.0|      0.0|      9.4|
|        VTS| 2009-01-04 03:31:00|  2009-01-04 03:38:00|              3|         4.55|-73.982102| 40.73629|     NULL|             NULL|         -73.95585| 40.76803|      Credit|    12.1|      0.5|   NULL|    2.0|      0.0|     14.6|
|        VTS| 2009-01-03 15:43:00|  2009-01-03 15:57:00|              5|        10.35|-74.002587|40.739748|     NULL|             NULL|        -73.869983|40.770225|      Credit|    23.7|      0.0|   NULL|   4.74|      0.0|    28.44|
|        DDS| 2009-01-01 20:52:58|  2009-01-01 21:14:00|              1|          5.0|-73.974267|40.790955|     NULL|             NULL|-73.99655799999998|40.731849|      CREDIT|    14.9|      0.5|   NULL|   3.05|      0.0|    18.45|
|        DDS| 2009-01-24 16:18:23|  2009-01-24 16:24:56|              1|          0.4| -74.00158|40.719382|     NULL|             NULL|-74.00837799999998| 40.72035|        CASH|     3.7|      0.0|   NULL|    0.0|      0.0|      3.7|
+-----------+--------------------+---------------------+---------------+-------------+----------+---------+---------+-----------------+------------------+---------+------------+--------+---------+-------+-------+---------+---------+
only showing top 5 rows

In [5]:
df.printSchema()

root
 |-- vendor_name: string (nullable = true)
 |-- Trip_Pickup_DateTime: string (nullable = true)
 |-- Trip_Dropoff_DateTime: string (nullable = true)
 |-- Passenger_Count: long (nullable = true)
 |-- Trip_Distance: double (nullable = true)
 |-- Start_Lon: double (nullable = true)
 |-- Start_Lat: double (nullable = true)
 |-- Rate_Code: double (nullable = true)
 |-- store_and_forward: double (nullable = true)
 |-- End_Lon: double (nullable = true)
 |-- End_Lat: double (nullable = true)
 |-- Payment_Type: string (nullable = true)
 |-- Fare_Amt: double (nullable = true)
 |-- surcharge: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- Tip_Amt: double (nullable = true)
 |-- Tolls_Amt: double (nullable = true)
 |-- Total_Amt: double (nullable = true)

In [6]:
df_subset = df.limit(10000)

In [7]:
df_subset.count()

10000

In [9]:
df_subset.show()

+-----------+--------------------+---------------------+---------------+------------------+------------------+---------+---------+-----------------+------------------+---------+------------+-----------------+---------+-------+-------+---------+---------+
|vendor_name|Trip_Pickup_DateTime|Trip_Dropoff_DateTime|Passenger_Count|     Trip_Distance|         Start_Lon|Start_Lat|Rate_Code|store_and_forward|           End_Lon|  End_Lat|Payment_Type|         Fare_Amt|surcharge|mta_tax|Tip_Amt|Tolls_Amt|Total_Amt|
+-----------+--------------------+---------------------+---------------+------------------+------------------+---------+---------+-----------------+------------------+---------+------------+-----------------+---------+-------+-------+---------+---------+
|        VTS| 2009-01-04 02:52:00|  2009-01-04 03:02:00|              1|              2.63|        -73.991957|40.721567|     NULL|             NULL|        -73.993803|40.695922|        CASH|              8.9|      0.5|   NULL|    0.0|      0.0|      9.4|
|        VTS| 2009-01-04 03:31:00|  2009-01-04 03:38:00|              3|              4.55|        -73.982102| 40.73629|     NULL|             NULL|         -73.95585| 40.76803|      Credit|             12.1|      0.5|   NULL|    2.0|      0.0|     14.6|
|        VTS| 2009-01-03 15:43:00|  2009-01-03 15:57:00|              5|             10.35|        -74.002587|40.739748|     NULL|             NULL|        -73.869983|40.770225|      Credit|             23.7|      0.0|   NULL|   4.74|      0.0|    28.44|
|        DDS| 2009-01-01 20:52:58|  2009-01-01 21:14:00|              1|               5.0|        -73.974267|40.790955|     NULL|             NULL|-73.99655799999998|40.731849|      CREDIT|             14.9|      0.5|   NULL|   3.05|      0.0|    18.45|
|        DDS| 2009-01-24 16:18:23|  2009-01-24 16:24:56|              1|               0.4|         -74.00158|40.719382|     NULL|             NULL|-74.00837799999998| 40.72035|        CASH|              3.7|      0.0|   NULL|    0.0|      0.0|      3.7|
|        DDS| 2009-01-16 22:35:59|  2009-01-16 22:43:35|              2|               1.2|        -73.989806|40.735006|     NULL|             NULL|        -73.985021|40.724494|        CASH|              6.1|      0.5|   NULL|    0.0|      0.0|      6.6|
|        DDS| 2009-01-21 08:55:57|  2009-01-21 09:05:42|              1|               0.4|-73.98404999999998|40.743544|     NULL|             NULL|         -73.98026|40.748926|      CREDIT|              5.7|      0.0|   NULL|    1.0|      0.0|      6.7|
|        VTS| 2009-01-04 04:31:00|  2009-01-04 04:36:00|              1|              1.72|        -73.992635|40.748362|     NULL|             NULL|        -73.995585|40.728307|        CASH|              6.1|      0.5|   NULL|    0.0|      0.0|      6.6|
|        CMT| 2009-01-05 16:29:02|  2009-01-05 16:40:21|              1|               1.6|         -73.96969|40.749244|     NULL|             NULL|        -73.990413|40.751082|      Credit|8.699999999999998|      0.0|   NULL|    1.3|      0.0|     10.0|
|        CMT| 2009-01-05 18:53:13|  2009-01-05 18:57:45|              1|0.6999999999999998|        -73.955173|40.783044|     NULL|             NULL|-73.95859799999998|40.774822|        Cash|              5.9|      0.0|   NULL|    0.0|      0.0|      5.9|
|        CMT| 2009-01-05 08:15:38|  2009-01-05 08:16:44|              1|0.2999999999999999|        -73.986824|40.750893|     NULL|             NULL|-73.98411799999998|40.751437|        Cash|              2.9|      0.0|   NULL|    0.0|      0.0|      2.9|
|        CMT| 2009-01-05 06:21:43|  2009-01-05 06:28:41|              1|               2.3|          -74.0061|40.748432|     NULL|             NULL|        -73.978437|40.762481|        Cash|              7.7|      0.0|   NULL|    0.0|      0.0|      7.7|
|        DDS| 2009-01-20 13:44:02|  2009-01-20 13:52:43|              2|               2.1|        -73.983339|40.744782|     NULL|             NULL|         -73.98116|40.720835|        CASH|              7.3|      0.0|   NULL|    0.0|      0.0|      7.3|
|        CMT| 2009-01-05 16:19:53|  2009-01-05 16:26:48|              2|               1.2|         -73.97351| 40.76028|     NULL|             NULL|        -73.962933|40.775119|        Cash|              6.7|      0.0|   NULL|    0.0|      0.0|      6.7|
|        CMT| 2009-01-05 17:22:16|  2009-01-05 17:27:25|              1|               0.8|        -73.984426| 40.75748|     NULL|             NULL|-73.98251899999998|40.767165|        Cash|              5.9|      0.0|   NULL|    0.0|      0.0|      5.9|
|        CMT| 2009-01-05 16:02:52|  2009-01-05 16:18:43|              1|               4.5|-73.99106399999998|40.727654|     NULL|             NULL|-73.94577099999998| 40.77765|        Cash|             13.9|      0.0|   NULL|    0.0|      0.0|     13.9|
|        CMT| 2009-01-05 12:15:06|  2009-01-05 12:27:58|              1|               1.7|        -74.001678|  40.7473|     NULL|             NULL|-73.97895699999998|40.750394|        Cash|              8.5|      0.0|   NULL|    0.0|      0.0|      8.5|
|        CMT| 2009-01-05 07:49:57|  2009-01-05 07:54:11|              1|               1.0|-73.98245699999998|40.731475|     NULL|             NULL|        -73.973011|40.743387|      Credit|              4.5|      0.0|   NULL|    1.0|      0.0|      5.5|
|        DDS| 2009-01-23 23:57:34|  2009-01-24 00:12:40|              2|               5.0|        -73.992554|40.724476|     NULL|             NULL|-73.95306499999998|40.777555|      CREDIT|             13.3|      0.5|   NULL|   3.45|      0.0|    17.25|
|        CMT| 2009-01-05 10:23:13|  2009-01-05 10:33:56|              1|               1.3|        -73.990089|40.759027|     NULL|             NULL|        -73.983974|40.746938|        Cash|              7.3|      0.0|   NULL|    0.0|      0.0|      7.3|
+-----------+--------------------+---------------------+---------------+------------------+------------------+---------+---------+-----------------+------------------+---------+------------+-----------------+---------+-------+-------+---------+---------+
only showing top 20 rows

In [10]:
# Find the missing values in the dataset

null_counts = [(column, df_subset.where(df_subset[column].isNull()).count()) for column in df_subset.columns]

In [11]:
null_counts

[('vendor_name', 0),
 ('Trip_Pickup_DateTime', 0),
 ('Trip_Dropoff_DateTime', 0),
 ('Passenger_Count', 0),
 ('Trip_Distance', 0),
 ('Start_Lon', 0),
 ('Start_Lat', 0),
 ('Rate_Code', 10000),
 ('store_and_forward', 10000),
 ('End_Lon', 0),
 ('End_Lat', 0),
 ('Payment_Type', 0),
 ('Fare_Amt', 0),
 ('surcharge', 0),
 ('mta_tax', 10000),
 ('Tip_Amt', 0),
 ('Tolls_Amt', 0),
 ('Total_Amt', 0)]

In [12]:
columns_to_drops = [column for column, count in null_counts if count > 0.1 * df_subset.count()]

In [13]:
columns_to_drops

['Rate_Code', 'store_and_forward', 'mta_tax']

In [14]:
# Drop columns with more than 10% missing values
df_subset = df_subset.drop(*columns_to_drops)

In [15]:
df_subset.columns

['vendor_name',
 'Trip_Pickup_DateTime',
 'Trip_Dropoff_DateTime',
 'Passenger_Count',
 'Trip_Distance',
 'Start_Lon',
 'Start_Lat',
 'End_Lon',
 'End_Lat',
 'Payment_Type',
 'Fare_Amt',
 'surcharge',
 'Tip_Amt',
 'Tolls_Amt',
 'Total_Amt']

In [16]:
null_counts = [(column, df_subset.where(df_subset[column].isNull()).count()) for column in df_subset.columns]

In [17]:
null_counts

[('vendor_name', 0),
 ('Trip_Pickup_DateTime', 0),
 ('Trip_Dropoff_DateTime', 0),
 ('Passenger_Count', 0),
 ('Trip_Distance', 0),
 ('Start_Lon', 0),
 ('Start_Lat', 0),
 ('End_Lon', 0),
 ('End_Lat', 0),
 ('Payment_Type', 0),
 ('Fare_Amt', 0),
 ('surcharge', 0),
 ('Tip_Amt', 0),
 ('Tolls_Amt', 0),
 ('Total_Amt', 0)]

In [18]:
df_subset.show()

+-----------+--------------------+---------------------+---------------+------------------+------------------+---------+------------------+---------+------------+-----------------+---------+-------+---------+---------+
|vendor_name|Trip_Pickup_DateTime|Trip_Dropoff_DateTime|Passenger_Count|     Trip_Distance|         Start_Lon|Start_Lat|           End_Lon|  End_Lat|Payment_Type|         Fare_Amt|surcharge|Tip_Amt|Tolls_Amt|Total_Amt|
+-----------+--------------------+---------------------+---------------+------------------+------------------+---------+------------------+---------+------------+-----------------+---------+-------+---------+---------+
|        VTS| 2009-01-04 02:52:00|  2009-01-04 03:02:00|              1|              2.63|        -73.991957|40.721567|        -73.993803|40.695922|        CASH|              8.9|      0.5|    0.0|      0.0|      9.4|
|        VTS| 2009-01-04 03:31:00|  2009-01-04 03:38:00|              3|              4.55|        -73.982102| 40.73629|         -73.95585| 40.76803|      Credit|             12.1|      0.5|    2.0|      0.0|     14.6|
|        VTS| 2009-01-03 15:43:00|  2009-01-03 15:57:00|              5|             10.35|        -74.002587|40.739748|        -73.869983|40.770225|      Credit|             23.7|      0.0|   4.74|      0.0|    28.44|
|        DDS| 2009-01-01 20:52:58|  2009-01-01 21:14:00|              1|               5.0|        -73.974267|40.790955|-73.99655799999998|40.731849|      CREDIT|             14.9|      0.5|   3.05|      0.0|    18.45|
|        DDS| 2009-01-24 16:18:23|  2009-01-24 16:24:56|              1|               0.4|         -74.00158|40.719382|-74.00837799999998| 40.72035|        CASH|              3.7|      0.0|    0.0|      0.0|      3.7|
|        DDS| 2009-01-16 22:35:59|  2009-01-16 22:43:35|              2|               1.2|        -73.989806|40.735006|        -73.985021|40.724494|        CASH|              6.1|      0.5|    0.0|      0.0|      6.6|
|        DDS| 2009-01-21 08:55:57|  2009-01-21 09:05:42|              1|               0.4|-73.98404999999998|40.743544|         -73.98026|40.748926|      CREDIT|              5.7|      0.0|    1.0|      0.0|      6.7|
|        VTS| 2009-01-04 04:31:00|  2009-01-04 04:36:00|              1|              1.72|        -73.992635|40.748362|        -73.995585|40.728307|        CASH|              6.1|      0.5|    0.0|      0.0|      6.6|
|        CMT| 2009-01-05 16:29:02|  2009-01-05 16:40:21|              1|               1.6|         -73.96969|40.749244|        -73.990413|40.751082|      Credit|8.699999999999998|      0.0|    1.3|      0.0|     10.0|
|        CMT| 2009-01-05 18:53:13|  2009-01-05 18:57:45|              1|0.6999999999999998|        -73.955173|40.783044|-73.95859799999998|40.774822|        Cash|              5.9|      0.0|    0.0|      0.0|      5.9|
|        CMT| 2009-01-05 08:15:38|  2009-01-05 08:16:44|              1|0.2999999999999999|        -73.986824|40.750893|-73.98411799999998|40.751437|        Cash|              2.9|      0.0|    0.0|      0.0|      2.9|
|        CMT| 2009-01-05 06:21:43|  2009-01-05 06:28:41|              1|               2.3|          -74.0061|40.748432|        -73.978437|40.762481|        Cash|              7.7|      0.0|    0.0|      0.0|      7.7|
|        DDS| 2009-01-20 13:44:02|  2009-01-20 13:52:43|              2|               2.1|        -73.983339|40.744782|         -73.98116|40.720835|        CASH|              7.3|      0.0|    0.0|      0.0|      7.3|
|        CMT| 2009-01-05 16:19:53|  2009-01-05 16:26:48|              2|               1.2|         -73.97351| 40.76028|        -73.962933|40.775119|        Cash|              6.7|      0.0|    0.0|      0.0|      6.7|
|        CMT| 2009-01-05 17:22:16|  2009-01-05 17:27:25|              1|               0.8|        -73.984426| 40.75748|-73.98251899999998|40.767165|        Cash|              5.9|      0.0|    0.0|      0.0|      5.9|
|        CMT| 2009-01-05 16:02:52|  2009-01-05 16:18:43|              1|               4.5|-73.99106399999998|40.727654|-73.94577099999998| 40.77765|        Cash|             13.9|      0.0|    0.0|      0.0|     13.9|
|        CMT| 2009-01-05 12:15:06|  2009-01-05 12:27:58|              1|               1.7|        -74.001678|  40.7473|-73.97895699999998|40.750394|        Cash|              8.5|      0.0|    0.0|      0.0|      8.5|
|        CMT| 2009-01-05 07:49:57|  2009-01-05 07:54:11|              1|               1.0|-73.98245699999998|40.731475|        -73.973011|40.743387|      Credit|              4.5|      0.0|    1.0|      0.0|      5.5|
|        DDS| 2009-01-23 23:57:34|  2009-01-24 00:12:40|              2|               5.0|        -73.992554|40.724476|-73.95306499999998|40.777555|      CREDIT|             13.3|      0.5|   3.45|      0.0|    17.25|
|        CMT| 2009-01-05 10:23:13|  2009-01-05 10:33:56|              1|               1.3|        -73.990089|40.759027|        -73.983974|40.746938|        Cash|              7.3|      0.0|    0.0|      0.0|      7.3|
+-----------+--------------------+---------------------+---------------+------------------+------------------+---------+------------------+---------+------------+-----------------+---------+-------+---------+---------+
only showing top 20 rows

In [19]:
# Data transformation 
df_subset = df_subset.filter(
    (df_subset["Passenger_Count"] > 0.0) &
    (df_subset["Trip_Distance"] > 0.0) &
    (df_subset["Fare_Amt"] > 0.0) &
    (df_subset["Total_Amt"] > 0.0) & 
    (df_subset["Tip_Amt"] >= 0.0) &
    (df_subset["Tolls_Amt"] >= 0.0) &
    (df_subset["surcharge"] >= 0.0)
)

In [21]:
df_subset.count()

9938

In [22]:
df_subset.dtypes

[('vendor_name', 'string'),
 ('Trip_Pickup_DateTime', 'string'),
 ('Trip_Dropoff_DateTime', 'string'),
 ('Passenger_Count', 'bigint'),
 ('Trip_Distance', 'double'),
 ('Start_Lon', 'double'),
 ('Start_Lat', 'double'),
 ('End_Lon', 'double'),
 ('End_Lat', 'double'),
 ('Payment_Type', 'string'),
 ('Fare_Amt', 'double'),
 ('surcharge', 'double'),
 ('Tip_Amt', 'double'),
 ('Tolls_Amt', 'double'),
 ('Total_Amt', 'double')]

In [23]:
# Convert the columns to the correct data types
columns_to_cast = {
    "Trip_Pickup_DateTime": "timestamp",
    "Trip_Dropoff_DateTime": "timestamp",
    "Passenger_Count": "integer",
}

In [24]:
for col_name, col_type in columns_to_cast.items():
    df_subset = df_subset.withColumn(col_name, df_subset[col_name].cast(col_type))

In [25]:
df_subset.dtypes

[('vendor_name', 'string'),
 ('Trip_Pickup_DateTime', 'timestamp'),
 ('Trip_Dropoff_DateTime', 'timestamp'),
 ('Passenger_Count', 'int'),
 ('Trip_Distance', 'double'),
 ('Start_Lon', 'double'),
 ('Start_Lat', 'double'),
 ('End_Lon', 'double'),
 ('End_Lat', 'double'),
 ('Payment_Type', 'string'),
 ('Fare_Amt', 'double'),
 ('surcharge', 'double'),
 ('Tip_Amt', 'double'),
 ('Tolls_Amt', 'double'),
 ('Total_Amt', 'double')]

In [30]:
categorical_columns = [item[0] for item in df_subset.dtypes if item[1].startswith('string')]

In [31]:
categorical_columns

['vendor_name', 'Payment_Type']

In [32]:
df_subset.select("vendor_name").distinct().show()

+-----------+
|vendor_name|
+-----------+
|        VTS|
|        DDS|
|        CMT|
+-----------+

In [33]:
df_subset.select("Payment_Type").distinct().show()

+------------+
|Payment_Type|
+------------+
|        CASH|
|      Credit|
|      CREDIT|
|        Cash|
|   No Charge|
|     Dispute|
+------------+

In [34]:
df_subset = df_subset.withColumn("Payment_Type", 
                                when(col("Payment_Type") == "CASH", "Cash")
                                .when(col("Payment_Type") == "CREDIT", "Credit")
                                .otherwise(col("Payment_Type")))

In [35]:
df_subset.select("Payment_Type").distinct().show()

+------------+
|Payment_Type|
+------------+
|        Cash|
|      Credit|
|   No Charge|
|     Dispute|
+------------+

In [36]:
#NORMALIZATION#
#There are four entities in the dataset 
#Vendor
#Payment
#Location
#Trips

vendors = df_subset.select("vendor_name").distinct() \
                    .withColumn("vendor_id", monotonically_increasing_id()) \
                    .select("vendor_id", "vendor_name")

In [38]:
locations = df_subset.select("Start_Lon", "Start_Lat", "End_Lon", "End_Lat") \
                    .withColumn("location_id", monotonically_increasing_id()) \
                    .select("location_id", "Start_Lon", "Start_Lat", "End_Lon", "End_Lat")

In [39]:
payments = df_subset.select("Trip_Pickup_DateTime", "Payment_Type", "Fare_Amt", "surcharge", "Tip_Amt", "Tolls_Amt", "Total_Amt" ) \
                    .withColumn("payment_id", monotonically_increasing_id()) \
                    .select("payment_id", "Payment_Type", "Fare_Amt", "surcharge", "Tip_Amt", "Tolls_Amt", "Total_Amt")

In [40]:
trips = df_subset.select("Trip_Pickup_DateTime", "Trip_Dropoff_DateTime", "Trip_Distance", "Passenger_Count",
                         "vendor_name", "Payment_Type", "Start_Lon") \
                         .withColumn("trip_id", monotonically_increasing_id()) \
                         .join(vendors, "vendor_name", "right") \
                         .select("trip_id", "vendor_id", "Trip_Pickup_DateTime", "Trip_Dropoff_DateTime", 
                                 "Trip_Distance", "Passenger_Count", "Payment_Type", "Start_Lon")

In [41]:
trips.show()

+-------+---------+--------------------+---------------------+-------------+---------------+------------+------------------+
|trip_id|vendor_id|Trip_Pickup_DateTime|Trip_Dropoff_DateTime|Trip_Distance|Passenger_Count|Payment_Type|         Start_Lon|
+-------+---------+--------------------+---------------------+-------------+---------------+------------+------------------+
|   9937|        0| 2009-01-03 21:19:00|  2009-01-03 21:29:00|         2.29|              2|        Cash|-73.98261499999998|
|   9936|        0| 2009-01-07 19:56:00|  2009-01-07 20:04:00|         3.02|              1|      Credit|        -73.984955|
|   9935|        0| 2009-01-03 09:54:00|  2009-01-03 10:17:00|         9.06|              2|        Cash|        -73.873022|
|   9934|        0| 2009-01-03 19:04:00|  2009-01-03 19:19:00|         2.64|              5|        Cash|-73.96221199999998|
|   9933|        0| 2009-01-03 21:33:00|  2009-01-03 21:39:00|          1.1|              1|        Cash|        -73.997167|
|   9932|        0| 2009-01-03 19:46:00|  2009-01-03 19:55:00|         2.65|              1|        Cash|-73.95345299999998|
|   9931|        0| 2009-01-03 21:42:00|  2009-01-03 21:49:00|         1.66|              3|        Cash|        -73.993633|
|   9930|        0| 2009-01-03 21:31:00|  2009-01-03 21:41:00|         1.73|              2|        Cash|-73.98133699999998|
|   9929|        0| 2009-01-31 02:03:00|  2009-01-31 02:21:00|         6.91|              1|      Credit|        -73.988977|
|   9928|        0| 2009-01-02 10:48:00|  2009-01-02 11:03:00|         1.97|              1|        Cash|-74.00325999999998|
|   9927|        0| 2009-01-03 14:02:00|  2009-01-03 14:09:00|         1.53|              5|        Cash|-73.96240799999998|
|   9926|        0| 2009-01-03 21:01:00|  2009-01-03 21:14:00|         3.14|              1|        Cash|-73.92342499999998|
|   9925|        0| 2009-01-03 13:46:00|  2009-01-03 14:07:00|         2.95|              4|      Credit|        -73.978103|
|   9924|        0| 2009-01-03 03:52:00|  2009-01-03 03:56:00|         0.55|              1|        Cash|        -73.988173|
|   9923|        0| 2009-01-03 08:10:00|  2009-01-03 08:21:00|         1.83|              1|        Cash|        -73.976495|
|   9922|        0| 2009-01-03 20:38:00|  2009-01-03 20:49:00|         2.25|              1|        Cash|        -73.948818|
|   9921|        0| 2009-01-03 04:35:00|  2009-01-03 04:36:00|         0.03|              2|        Cash|        -74.002263|
|   9920|        0| 2009-01-03 13:50:00|  2009-01-03 13:56:00|         1.29|              1|        Cash|        -73.986778|
|   9919|        0| 2009-01-03 18:48:00|  2009-01-03 19:07:00|         9.97|              1|        Cash|-73.79034699999998|
|   9918|        0| 2009-01-03 17:23:00|  2009-01-03 18:22:00|        16.16|              1|        Cash|        -73.990272|
+-------+---------+--------------------+---------------------+-------------+---------------+------------+------------------+
only showing top 20 rows

In [42]:
#the window function is to et a unique id for our trips table
windowSpec = Window.orderBy("trip_id")
trips = trips.withColumn("row_num", row_number().over(windowSpec))

In [43]:
trips_payments = trips.join(payments, trips.row_num == payments.payment_id, "inner")

In [44]:
trips_payments_locations = trips_payments.join(locations, trips_payments.row_num == locations.location_id, "inner")

In [45]:
trips_payments_locations.show()

+-------+---------+--------------------+---------------------+------------------+---------------+------------+------------------+-------+----------+------------+-----------------+---------+-------+---------+---------+-----------+------------------+---------+------------------+---------+
|trip_id|vendor_id|Trip_Pickup_DateTime|Trip_Dropoff_DateTime|     Trip_Distance|Passenger_Count|Payment_Type|         Start_Lon|row_num|payment_id|Payment_Type|         Fare_Amt|surcharge|Tip_Amt|Tolls_Amt|Total_Amt|location_id|         Start_Lon|Start_Lat|           End_Lon|  End_Lat|
+-------+---------+--------------------+---------------------+------------------+---------------+------------+------------------+-------+----------+------------+-----------------+---------+-------+---------+---------+-----------+------------------+---------+------------------+---------+
|      0|        0| 2009-01-04 02:52:00|  2009-01-04 03:02:00|              2.63|              1|        Cash|        -73.991957|      1|         1|      Credit|             12.1|      0.5|    2.0|      0.0|     14.6|          1|        -73.982102| 40.73629|         -73.95585| 40.76803|
|      1|        0| 2009-01-04 03:31:00|  2009-01-04 03:38:00|              4.55|              3|      Credit|        -73.982102|      2|         2|      Credit|             23.7|      0.0|   4.74|      0.0|    28.44|          2|        -74.002587|40.739748|        -73.869983|40.770225|
|      2|        0| 2009-01-03 15:43:00|  2009-01-03 15:57:00|             10.35|              5|      Credit|        -74.002587|      3|         3|      Credit|             14.9|      0.5|   3.05|      0.0|    18.45|          3|        -73.974267|40.790955|-73.99655799999998|40.731849|
|      3|        1| 2009-01-01 20:52:58|  2009-01-01 21:14:00|               5.0|              1|      Credit|        -73.974267|      4|         4|        Cash|              3.7|      0.0|    0.0|      0.0|      3.7|          4|         -74.00158|40.719382|-74.00837799999998| 40.72035|
|      4|        1| 2009-01-24 16:18:23|  2009-01-24 16:24:56|               0.4|              1|        Cash|         -74.00158|      5|         5|        Cash|              6.1|      0.5|    0.0|      0.0|      6.6|          5|        -73.989806|40.735006|        -73.985021|40.724494|
|      5|        1| 2009-01-16 22:35:59|  2009-01-16 22:43:35|               1.2|              2|        Cash|        -73.989806|      6|         6|      Credit|              5.7|      0.0|    1.0|      0.0|      6.7|          6|-73.98404999999998|40.743544|         -73.98026|40.748926|
|      6|        1| 2009-01-21 08:55:57|  2009-01-21 09:05:42|               0.4|              1|      Credit|-73.98404999999998|      7|         7|        Cash|              6.1|      0.5|    0.0|      0.0|      6.6|          7|        -73.992635|40.748362|        -73.995585|40.728307|
|      7|        0| 2009-01-04 04:31:00|  2009-01-04 04:36:00|              1.72|              1|        Cash|        -73.992635|      8|         8|      Credit|8.699999999999998|      0.0|    1.3|      0.0|     10.0|          8|         -73.96969|40.749244|        -73.990413|40.751082|
|      8|        2| 2009-01-05 16:29:02|  2009-01-05 16:40:21|               1.6|              1|      Credit|         -73.96969|      9|         9|        Cash|              5.9|      0.0|    0.0|      0.0|      5.9|          9|        -73.955173|40.783044|-73.95859799999998|40.774822|
|      9|        2| 2009-01-05 18:53:13|  2009-01-05 18:57:45|0.6999999999999998|              1|        Cash|        -73.955173|     10|        10|        Cash|              2.9|      0.0|    0.0|      0.0|      2.9|         10|        -73.986824|40.750893|-73.98411799999998|40.751437|
|     10|        2| 2009-01-05 08:15:38|  2009-01-05 08:16:44|0.2999999999999999|              1|        Cash|        -73.986824|     11|        11|        Cash|              7.7|      0.0|    0.0|      0.0|      7.7|         11|          -74.0061|40.748432|        -73.978437|40.762481|
|     11|        2| 2009-01-05 06:21:43|  2009-01-05 06:28:41|               2.3|              1|        Cash|          -74.0061|     12|        12|        Cash|              7.3|      0.0|    0.0|      0.0|      7.3|         12|        -73.983339|40.744782|         -73.98116|40.720835|
|     12|        1| 2009-01-20 13:44:02|  2009-01-20 13:52:43|               2.1|              2|        Cash|        -73.983339|     13|        13|        Cash|              6.7|      0.0|    0.0|      0.0|      6.7|         13|         -73.97351| 40.76028|        -73.962933|40.775119|
|     13|        2| 2009-01-05 16:19:53|  2009-01-05 16:26:48|               1.2|              2|        Cash|         -73.97351|     14|        14|        Cash|              5.9|      0.0|    0.0|      0.0|      5.9|         14|        -73.984426| 40.75748|-73.98251899999998|40.767165|
|     14|        2| 2009-01-05 17:22:16|  2009-01-05 17:27:25|               0.8|              1|        Cash|        -73.984426|     15|        15|        Cash|             13.9|      0.0|    0.0|      0.0|     13.9|         15|-73.99106399999998|40.727654|-73.94577099999998| 40.77765|
|     15|        2| 2009-01-05 16:02:52|  2009-01-05 16:18:43|               4.5|              1|        Cash|-73.99106399999998|     16|        16|        Cash|              8.5|      0.0|    0.0|      0.0|      8.5|         16|        -74.001678|  40.7473|-73.97895699999998|40.750394|
|     16|        2| 2009-01-05 12:15:06|  2009-01-05 12:27:58|               1.7|              1|        Cash|        -74.001678|     17|        17|      Credit|              4.5|      0.0|    1.0|      0.0|      5.5|         17|-73.98245699999998|40.731475|        -73.973011|40.743387|
|     17|        2| 2009-01-05 07:49:57|  2009-01-05 07:54:11|               1.0|              1|      Credit|-73.98245699999998|     18|        18|      Credit|             13.3|      0.5|   3.45|      0.0|    17.25|         18|        -73.992554|40.724476|-73.95306499999998|40.777555|
|     18|        1| 2009-01-23 23:57:34|  2009-01-24 00:12:40|               5.0|              2|      Credit|        -73.992554|     19|        19|        Cash|              7.3|      0.0|    0.0|      0.0|      7.3|         19|        -73.990089|40.759027|        -73.983974|40.746938|
|     19|        2| 2009-01-05 10:23:13|  2009-01-05 10:33:56|               1.3|              1|        Cash|        -73.990089|     20|        20|        Cash|              7.3|      0.0|    0.0|      0.0|      7.3|         20|        -73.945893|40.773608|        -73.965765|40.764683|
+-------+---------+--------------------+---------------------+------------------+---------------+------------+------------------+-------+----------+------------+-----------------+---------+-------+---------+---------+-----------+------------------+---------+------------------+---------+
only showing top 20 rows

In [46]:
trips_finals = trips_payments_locations.drop("row_num", "vendor_name", "Start_Lon", 
                                             "End_Lon", "Start_Lat", "End_Lat", "Payment_Type",
                                             "Fare_Amt", "surcharge", "Tip_Amt", "Tolls_Amt", "Total_Amt")

In [50]:
trips_finals.show()

+-------+---------+--------------------+---------------------+------------------+---------------+----------+-----------+
|trip_id|vendor_id|Trip_Pickup_DateTime|Trip_Dropoff_DateTime|     Trip_Distance|Passenger_Count|payment_id|location_id|
+-------+---------+--------------------+---------------------+------------------+---------------+----------+-----------+
|      0|        0| 2009-01-04 02:52:00|  2009-01-04 03:02:00|              2.63|              1|         1|          1|
|      1|        0| 2009-01-04 03:31:00|  2009-01-04 03:38:00|              4.55|              3|         2|          2|
|      2|        0| 2009-01-03 15:43:00|  2009-01-03 15:57:00|             10.35|              5|         3|          3|
|      3|        1| 2009-01-01 20:52:58|  2009-01-01 21:14:00|               5.0|              1|         4|          4|
|      4|        1| 2009-01-24 16:18:23|  2009-01-24 16:24:56|               0.4|              1|         5|          5|
|      5|        1| 2009-01-16 22:35:59|  2009-01-16 22:43:35|               1.2|              2|         6|          6|
|      6|        1| 2009-01-21 08:55:57|  2009-01-21 09:05:42|               0.4|              1|         7|          7|
|      7|        0| 2009-01-04 04:31:00|  2009-01-04 04:36:00|              1.72|              1|         8|          8|
|      8|        2| 2009-01-05 16:29:02|  2009-01-05 16:40:21|               1.6|              1|         9|          9|
|      9|        2| 2009-01-05 18:53:13|  2009-01-05 18:57:45|0.6999999999999998|              1|        10|         10|
|     10|        2| 2009-01-05 08:15:38|  2009-01-05 08:16:44|0.2999999999999999|              1|        11|         11|
|     11|        2| 2009-01-05 06:21:43|  2009-01-05 06:28:41|               2.3|              1|        12|         12|
|     12|        1| 2009-01-20 13:44:02|  2009-01-20 13:52:43|               2.1|              2|        13|         13|
|     13|        2| 2009-01-05 16:19:53|  2009-01-05 16:26:48|               1.2|              2|        14|         14|
|     14|        2| 2009-01-05 17:22:16|  2009-01-05 17:27:25|               0.8|              1|        15|         15|
|     15|        2| 2009-01-05 16:02:52|  2009-01-05 16:18:43|               4.5|              1|        16|         16|
|     16|        2| 2009-01-05 12:15:06|  2009-01-05 12:27:58|               1.7|              1|        17|         17|
|     17|        2| 2009-01-05 07:49:57|  2009-01-05 07:54:11|               1.0|              1|        18|         18|
|     18|        1| 2009-01-23 23:57:34|  2009-01-24 00:12:40|               5.0|              2|        19|         19|
|     19|        2| 2009-01-05 10:23:13|  2009-01-05 10:33:56|               1.3|              1|        20|         20|
+-------+---------+--------------------+---------------------+------------------+---------------+----------+-----------+
only showing top 20 rows

In [ ]:
#we have all the tables we need
#we need to save the data into a database

In [77]:
conn = psycopg2.connect(
    host="localhost",
    database="taxi_data",
    user="postgres",
    password="eyramSQL"
)

cur = conn.cursor()

In [78]:
cur.execute(
    """
    CREATE TABLE vendors (
        vendor_id INT PRIMARY KEY,
        vendor_name VARCHAR(50)
    );

    CREATE TABLE locations (
        location_id INT PRIMARY KEY,
        start_lon FLOAT,
        start_lat FLOAT,
        end_lon FLOAT,
        end_lat FLOAT
    );

    CREATE TABLE payments (
        payment_id INT PRIMARY KEY,
        payment_type VARCHAR(50),
        fare_amt FLOAT,
        surcharge FLOAT,
        tip_amt FLOAT,
        tolls_amt FLOAT,
        total_amt FLOAT
    );

     CREATE TABLE trips (
        trip_id INT PRIMARY KEY,
        trip_pickup_datetime TIMESTAMP,
        trip_dropoff_datetime TIMESTAMP,
        passenger_count INT,
        trip_distance FLOAT,
        vendor_id INT,
        location_id INT,
        payment_id INT,

        FOREIGN KEY (vendor_id) REFERENCES vendors(vendor_id),
        FOREIGN KEY (location_id) REFERENCES locations(location_id),
        FOREIGN KEY (payment_id) REFERENCES payments(payment_id)
    )
"""
)

conn.commit()
conn.close()

In [89]:
# Save the data into the database
jdbc_url = "jdbc:postgresql://localhost/taxi_data"
jdbc_properties = {"user": "postgres", "postgres": "eyramSQL", "driver": "org.postgresql.Driver"}

In [90]:
dataframes_to_save = [
    (vendors, "vendors"),
    (locations, "locations"),
    (payments, "payments"),
    (trips_finals, "trips")
    ]

In [85]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\dell\anaconda\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\anaconda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\dell\anaconda\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\dell\anaconda\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [91]:
vendors_df = vendors.toPandas()
locations_df =locations.toPandas()
payments_df = payments.toPandas()
trips_df = trips_finals.toPandas()

In [94]:
from sqlalchemy import create_engine
connection_string = f'postgresql://postgres:postgres@localhost/taxi_data'
engine = create_engine(connection_string)

In [95]:
trips_df.to_sql('trips', engine, if_exists='replace', index=False)
vendors_df.to_sql('vendors', engine, if_exists='replace', index=False)
payments_df.to_sql('payments', engine, if_exists='replace', index=False)
locations_df.to_sql('locations', engine, if_exists='replace', index=False)

938

In [1]:
!jupyter nbconvert --to script extract_data.ipynb

[NbConvertApp] Converting notebook extract_data.ipynb to script
[NbConvertApp] Writing 7517 bytes to extract_data.py